:root {
  --gray: hsl(228, 12%, 48%);
  --green: hsl(158, 36%, 37%);
  --dark-green: hsl(158, 36%, 25%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(30, 38%, 92%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  max-width: 38.2rem;
  border-radius: 11px;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

.img-container {
  width: 50%;
  min-width: 16rem;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.wrapper {
  background-color: hsl(0, 0%, 100%);
  padding: 2rem;
  width: 50%;
  min-width: 16rem;
}

.top {
  font-size: 0.85rem;
  letter-spacing: 0.3rem;
  color: var(--gray);
}

.name {
  font-family: "Fraunces", serif;
  font-size: 2.2rem;
  padding: 1.5rem 0;
}

.description {
  font-size: 0.9rem;
  color: var(--gray);
  line-height: 1.5rem;
}

.price-container {
  display: flex;
  padding: 1.5rem 0;
  align-items: center;
}

.old-price {
  text-decoration: line-through;
  padding: 1rem;
  font-size: 0.85rem;
  color: var(--gray);
}

.new-price {
  color: var(--green);
  font-size: 2.15rem;
  font-family: "Fraunces", serif;
}

.btn {
  align-items: center;
  background-color: var(--green);
  border-radius: 0.5rem;
  border: none;
  color: hsl(0, 0%, 100%);
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  gap: 0.5rem;
  height: 3rem;
  justify-content: center;
  width: 100%;
}

.btn:hover {
  background-color: var(--dark-green);
  cursor: pointer;
}

.attribution {
  padding-top: 2rem;
  display: flex;
  font-size: 0.7rem;
  color: hsl(228, 45%, 44%);
  gap: 1px;
}

@media only screen and (max-width: 540px) {
  .container {
    display: block;
    max-width: 25rem;
    margin: 1rem;
  }

  .img-container {
    width: 100%;
  }

  .product-img {
    content: url("./images/image-product-mobile.jpg");
  }

  .wrapper {
    width: 100%;
    padding: 1rem 1.5rem;
  }

  .price-container {
    padding-bottom: 1rem;
  }

  .top {
    font-size: 0.75rem;
  }

  .name {
    padding: 1rem 0;
    font-size: 2rem;
    line-height: 2.2rem;
  }
}
